/* @import "http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,greek-ext,cyrillic-ext,greek,vietnamese,cyrillic,latin-ext"; */

body {
    font-family: 'Lato', sans-serif;
}

.jumbotron {
    height: 200px;
    /* background: transparent; */
}
.jumbotron p {
    padding-left: 10px;
}

.nav-tabs {
    background-color: #efefef;
    margin-left: 5px;
    margin-top: -50px;		/* a work-around to the extra space */
    /* border-top: 1px; */
}
/* container { */
/*     /\* text-align: left; *\/ */
/*     padding: 20px 10px; */
/*     margin-top: 0px; */
/*     padding-top: 0px; */
/*     /\* left : 200px 10px; *\/ */
/* } */

h1 {
    /* font-family: 'Lato', serif; */
    font-size: 38px;
    margin-top: 0px;
}

.tvinput {

    /* font-family: 'Lato', serif; */
    /* font-size: 15px; */
    /* font-weight: Lighter; */
    text-align: left;
    padding: 20px 20px;
}

.tvinput textarea {
    font-family: "Lucida Console", Monaco, monospace;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

#resultDisplay {

    background-color: #efefef;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
    padding: 20px;
    margin: 20px;
    white-space: nowrap;
    overflow:auto;
    /* border: 1px solid black; */
    border-radius: 5px;
    line-height: 180%;
    /* background: White; */
}

#tab-about p {
    padding: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#submitButton {
    float:both;
    margin: 10px 20px;
}

/* .tab-pane { */
/*     margin: 20px; */
/* } */

.input-example p {
    font-family: "Lucida Console", Monaco, monospace;
}

.teaser {
    margin: 30px 0px;
    border-bottom: 1px solid #DDD;
    text-align: center;
}

.teaser span {
    top: 12px;
    font-family: 'Pinyon Script', cursive;
    position: relative;
    font-size: 30px;
    padding: 10px 0px 10px 10px;
    background: none repeat scroll 0% 0% White; /* #F8F8F8;*/
}

.section {
    padding: 60px 0px;
    font-size: 15px;
}

.section:nth-child(2n) {
    background: none repeat scroll 0% 0% #F8F8F8;
}

.section:nth-child(n+2) {
    border-top: 1px solid #DDD;
}

.sectiontitle {
    line-height: 1.3em;
    font-size: 48px;
    padding: 10px 0px;
    text-align: center;
}

.section:first-child p {
    text-align: center
}

.person-row .name {
    font-weight: bold;
    font-size: 20px;
}

.person-row .bio {
    font-size: 16px;
}